body {
	font-size: 20px;
	font-family: sans-serif;
}

header {
	text-align: center;
	color: white;
	background-color: rgba(150, 120, 90);
	background-image: url(img/header-bg.jpg);
	padding: 20px 30px 0;
}

footer {
	text-align: center;
	color: white;
	background-color: rgba(70, 50, 50, 0.9);;
	padding: 10px;
}

header h1 {
	background-color: rgba(70, 50, 50, 0.9);
	padding: 15px 0;
}

.contacts {
	text-align: right;
	font-style: italic;
	background-color: rgba(70, 50, 50, 0.9);
	padding: 10px;
}
